<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a Turismo Argentina</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <h3>Bienvenidos a Entre Rios</h3>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/portada.jpg" alt="Logo">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input"></i>Buscar Lugares, Hoteles y más<i class="fa fa-search"></i></div>
                    <div class="submit"></div>
                </div>
            </div>
            <nav>
                <ul class="left-navbar">
                    <li><a href="#"> Ofertas</a></li>
                    <li><a href="#">Viajes de turismo estudiantil</a></li>
                    <li><a href="#">Agencias de viajes</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li><a href="/register.html">Register <i class="far fa-id-card"></i></a> </li>
                    <li><a href="/login.html">Login <i class="fas fa-sign-in-alt"></i></a> </li>
                    <li><a href="#">Mis Reservas <i class="fas fa-shopping-basket"></i></a> </li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        
        <main>
            <section>
                <h3>Lugares</h3>
                <div class="products">
                    <article>
                        <img src="images/chajari.jpg" alt="Chajarí" class="product_img">
                        <div class="main-article">
                       <h4 class="description">Chajarí</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/colon.jpg" alt="colon" class="product_img">
                        <div class="main-article">
                           
                            <h4 class="description">Colon</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/victoria.jpg" alt="Victoria" class="product_img">
                        <div class="main-article">
                        <h4 class="description">Victoria</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/Gualeguaychu.jpg" alt="Gualeguaychu" class="product_img">
                        <div class="main-article">
                         <h4 class="description">Gualeguaychu</h4>
                        </div>
                    </article>
                </div>
            </section>
             <section>
           
                <div class="products">
                    <article>
                        <img src="images/ibicuy.jpg" alt="IBICUY" class="product_img">
                        <div class="main-article">
                        
                            <h4 class="description">IBICUY</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/Parana.jpg" alt="Parana" class="product_img">
                        <div class="main-article">
                        <h4 class="description">Parana</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/villaelisa.jpg" alt="VillaElisa" class="product_img">
                        <div class="main-article">
                        <h4 class="description">Villa Elisa</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/federacion.jpg" alt="federacion" class="product_img">
                        <div class="main-article">
                        <h4 class="description">Federacion"</h4>
                        </div>
                    </article>
                </div>  
            </section>
        </main>
        <footer class="footer">
            <div class="footer_container">
              <div class="contac_container">
                <div>
                  <img src="images/AT40-LOGO-05.png" alt="Logo Argentina Turismo 4.0" class="logo">
                </div>
                <div class="contact">
                  <ul>
                    <li>info_at4.0@argentinaturismo4.0.com</li>
                    <li>Sarmiento 440 - CABA</li>
                    <li><a href="#">El Equipo</a></li>
                    <li><a href="#">Contactanos</a></li>
                  </ul>
                </div>
              </div>
        
              <div class="items">
                <div>
                  <h6>A donde ir</h6>
                  <a href="#">Córdoba -</a>
                  <a href="#">Entre Ríos -</a>
                  <a href="#">Río Negro -</a>
                  <a href="#">Salta -</a>
                  <a href="#">Santa Fe</a>
                </div>
              </div>
              <div class="redes">
                <h6>Seguinos en:</h6>
                <ul class="footer_links">
                  <li><a href="https://www.instagram.com" target="_blank"><i class="lab la-instagram"></i></a></li>
                  <li><a href="https://www.twitter.com" target="_blank"><i class="lab la-twitter"></i></a></li>
                  <li><a href="https://www.facebook.com" target="_blank"><i class="lab la-facebook-f"></i></a></li>
                  <li><a href="https://www.whatsapp.com" target="_blank"><i class="lab la-whatsapp"></i></a></li>
                </ul>
              </div>
            </div>
          </footer>
        
    </body>
</html>