@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family:poppins;
  
}

h1{
  color: #67d0e6;
  justify-content: center;
}

/* carrusell*/
.carousel-caption{
  background-color: rgba(0, 0, 0,0.2);
  border-radius: 15px;
  
}

  


.subtitle {
  text-align: center;
}
.card-group {
  padding: 30px;
 width: 120;
 height: 120;
 border-radius: 25px;
 
}
.contenedor-galery{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  gap: 30px;
  
}

.text-card{
display: flex;
flex-direction: column;
width: 50%;
}

.card{
display: flex;
flex-direction: row;
width: 80%;
justify-content: space-around;
align-items: center;
border: none;
}

.galery-images{
  width: 400px;
  height: 250px;
 
  
  border-radius: 15px;
  
}


.galeriatrasla {
  padding: 15px;
  margin: 20px;
}
.img{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  
}
.galerias{
  width: 120px;
  height: 120px;
}
.card{
  border-radius: 5%;

}
h4{
  color:#67d0e6 ;
}
#seccion-formulario {
  background-image: url(./image-cordoda/cordoba-punilla/carlos-paz2.jpg);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-repeat: no-repeat;


}
/*========Section_footer===========*/


