/* #60baf9 */
/* #85d7fc */
/* #67d0e6 */
* {
  margin: 0;
  padding: 0;
}

.body_reserva {
  display: grid;
  grid-template-areas: auto 1fr auto;
  height: 100vh;
}

.info_contact h1 {
  color: #60baf9;
  margin-top: -1rem;
}

.info_contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_row input {
  border: 1px solid #cfd8eb;
  box-shadow: 1px 1px 3px #888;
  border-radius: 5px;
  width: 300px;
  font-size: 1rem;
  padding: 0.25rem;
}

.input_row label {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.25rem;
}

.input_div {
  display: flex;
  flex-direction: column;
}

input:focus,
select:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* ===================================== *//* ===================================== *//* ===================================== */
@media (min-width:768px) {
  .info_contact {
    margin-bottom: 2rem;
  }

  .input_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
  }
  /* ===================================== */
  .form_header_title {
    font-size: 3rem;
    color: #60baf9;
    text-align: center;
  }

  .form_header_select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .select select {
    border: 1px solid #cfd8eb;
    box-shadow: 1px 1px 3px #888;
    border-radius: 5px;
    width: 300px;
    font-size: 1rem;
    padding: 0.25rem;
  }

  .btn {
    background-color: #2c2c3f;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    padding: 0 3rem;
  }

  .btn:hover {
    font-weight: 500;
    color: #2c2c3f;
    background-color: rgba(96, 185, 249, 0.5);
    box-shadow: 1px 1px 3px #888;
  }

  /* ========================================= */

  .form_cards h2 {
    color: #60baf9;
    text-align: center;
    font-size: 2.5rem;
    padding: 0.75rem 0;
  }

  /* cards container */
  .listHotel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .card_host {
    width: 220px;
    height: 450px;
  }

  .card_host img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 8px #888;
  }

  .card_host h5 {
    text-align: center;
    margin: 1rem;
  }

  .card_host_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem;
  }

  span {
    color: #777;
    font-weight: 500;
  }

  /* ============================== */
  .radio_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .radio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .radio_title_h3,
  .form_info h5,
  .roomKind h5 {
    text-align: center;
    font-size: 2rem;
    color: #60baf9;


  }

  /* ============================== */

  .form_info_div {
    display: none;
    flex-direction: column;
    margin: 0 auto;
    margin: 2rem 0;
  }

  .check_cont,
  .roomKind,
  .mge_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
  }

  .check,
  .quantity,
  .input_roomKind {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  .check input {
    margin: 0.75rem;
  }

  .quantity input {
    width: 50px;
    height: fit-content;
    padding: 0.25rem;
  }

  .message textarea {
    padding: 0.5rem;
  }

  .mge_cont .btn {
    width: 200px;
    align-self: flex-end;
    padding: 0, 0.15rem;
  }

  /* =============nota de contacto=========== */

  #modal {
    width: 655px;
    height: fit-content;
    margin: 0 auto;
    border: none;
  }

  #modal[open] {
    animation: show 200ms ease-in normal;
  }

  @keyframes show {
    from {
      transform: translateX(-110%);
    }

    to {
      transform: translateX(0%);
    }
  }

  .modal_cont {
    margin: 2rem;
  }

  .modal_cont span {
    font-style: italic;
    color: #2e5b7b;
    font-weight: 400;
  }

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3rem;
  }

  .header .logo {
    width: 10rem;
  }

  .header h1 {
    color: #2c2c3f;
  }

  .header p {
    font-size: 0.8rem;
    line-height: 0.5rem;
  }

  .la-print {
    float: right;
    font-size: 2rem;
    color: #888;
    margin-right: -1rem;
  }

  .data .btn {
    float: right;
    background-color: #2c2c3f;
    box-shadow: 1px 1px 2px #888;
    color: #fff;
    padding: 0 0.75rem;
    font-size: 0.8rem;
  }
}

@media (min-width:992px) {
  .card_host {
    width: 320px;
    height: 450px;
  }
}

@media print {

  .data .btn,
  .la-print {
    display: none;
  }
}